.site-takeover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 501;
  overflow: hidden;
}

.site-takeover__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

.site-takeover__box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-takeover__box-wrapper {
  background: #ccc;
  color: #000;
  text-align: center;
  padding: 40px;
  max-width: 320px;
}

.site-takeover__logo {
  display: block;
}

.site-takeover__title {
}

.site-takeover__body {
  padding: 10px 0;
}

.site-takeover__buttons {
}

.site-takeover__buttons .c-btn {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  color: #000;
  text-decoration: none;
}
