{#
/**
 * @file
 * Site Emergency Takeover template
 *
 * Variables:
 * - title: Title
 * - body: Body
 * - logo: Site logo
 * - background: Background image
 * - button: Button
 */
#}
<div class="site-takeover">
    <div class="site-takeover__bg" {% if background.src and not background.responsive_image %}style="background-image: url({{ background.src }});"{% endif %}>
        {% if background.responsive_image %}
            {{ background.responsive_image }}
        {% endif %}
    </div>
    <div class="site-takeover__box">
        <div class="site-takeover__box-wrapper">
            {% if logo and logo.logo_image %}
            <div class="site-takeover__logo">
                <img src="{{ logo.logo_image }}" alt="{{ logo.site_name }}">
            </div>
            {% endif %}
            {% if title %}
            <div class="site-takeover__title">
                <h2>{{ title }}</h2>
            </div>
            {% endif %}
            {% if body and body.value %}
            <div class="site-takeover__body">
                {{ body.value|raw }}
            </div>
            {% endif %}
            {% if button.show_button and button.button_text and button.page_id %}
            <div class="site-takeover__buttons">
                <a href="{{ path('entity.node.canonical', {'node': button.page_id}) }}" class="btn">{{ button.button_text|t }}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
